/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.tab_details {
    padding: 30px 0;
}
/* comment form below text remove */
.form-allowed-tags {display: none;}
/* Comment form validation added date 06-01-2015 */	
.error  { font-size: 12px; color: #FF0000; }
input.error, textarea.error { background: #FFD2D2; color:#000000; }
.inner-content .help_btn {
    background-color: #037ac3;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
}
.inner-content .help_btn:hover{
    color: #fff;
}